.login-btn{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: 250;
    background-color: rgba(7, 0, 0, 0.03);
    padding: 12px;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 -10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}

.signup-btn{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-weight: 250;
    background-color: rgba(7, 0, 0, 0.03);
    padding: 12px;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 -10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}

.login-btn:hover {
    background-color: rgba(7, 0, 0, 0.08);
    cursor: pointer;
}

.signup-btn:hover{
    background-color: rgba(7, 0, 0, 0.08);
    cursor: pointer;
}

.greeting-container{
    margin-top: 35px;
    float:right;
}

// .header-name{
//     font-size: 30px;
//     font-weight: 200;
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     color: black;
// }

.header-button{
    font-family: 'Ubuntu', sans-serif;  
    color: black;
    font-weight: 100;
    background-color: rgba(7, 0, 0, 0.03);
    padding: 12px;
    border: none;
    -webkit-box-shadow: 0 -10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
   
}

.header-button:hover{
    background-color: rgba(7, 0, 0, 0.08);
}

// .your-stays{
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//     font-size:30px;
// }