.login-btn{
    color: white;
    font-weight: 600;
    background-color: grey;
    

}

.signup-btn{
    color: white;
    font-weight: 600;
    background-color: grey;
}

.login-btn:hover {
    background-color: lightgrey;
}

.signup-btn:hover{
    background-color: lightgrey;
}

.navbar-greeting{
    float:right;
}