.homepage{
    display:flex;
    position:relative;
    background-image: url(home1.jpeg);
    background-repeat:no-repeat;
    margin: 0 auto;
    
}

.homepage-greeting{
   
    position:relative;
    left: 900px;
}

.homepage-splash{
  
    position:relative;
    margin-top:400px;

}

