.review-form-container{
    display:flex;
}

#review-input{
    outline: solid rgba(0, 2, 0, 0.52);
}
.submit-btn{
    background-color: yellow;
}

.rating{
    font-size: 20px;
    font-family: 'Cambria';
    margin-left: 500px;
}

.rating-input{
    width:50px;
}

.review{
    width:10px;
    margin-left: 500px;
   }
   
   .review-input{
       background-color: lightcoral;
   }
   
   
   .submit-btn{
       background-color: rgba(25, 19, 0, 0.26);
       width: 250px;
       height: 30px;
       border-radius: 50px;
       margin-left: 550px;
       margin-top: 35px;
       font-weight: 300;
   }

   .submit-btn:hover{
       background-color: rgba(25, 19, 0, 0.1);
   }
   



.reviews-index-container{
    border-radius: 10px;
    display:flex;
 }
 .reviews{
     background-color: rgba(4, 13, 1, 0.1);
     // position:relative;
     // flex-direction: column;
     margin-top: 115px;
 
 
 }
 
 .reviews-rating{
     font-family: 'Avanta Garde';
     font-weight: 200;
     font-size:20px;
 }
 
 .reviews-description{
     font-size: 20px;
 }
 
 
 .review{
  width:10px;
 }
 

 
 .edit-link{
     font-family: 'Courier New', Courier, monospace;
     font-weight: 700;
     text-decoration: none;
     background-color: rgba(0, 0, 0, 0.2);
     border: 1px solid black;
     width:50%;
    //  width:80px;
     color:black;
     text-align: center;
     font-size: 12px;
     margin: auto;
 }

 .edit-link2{
    text-decoration: none;
    color:black;
}

 .delete-link{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    width:50%;
   //  width:80px;
    color:black;
    text-align: center;
    font-size: 12px;
    margin: auto;
}


//  .delete-link2{
//     text-decoration: none;
//     color:black;
//  }

 .edit-link:hover{
     background-color: rgba(0, 0, 0, .6);
     cursor:pointer;
 }

//  .delete-link:hover{
//     background-color: rgba(0, 0, 0, .6);
//     cursor: pointer;
// }

.delete-review{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    width:50%;
   //  width:80px;
    color:black;
    text-align: center;
    font-size: 12px;
    margin-left: 25%;
    cursor: pointer;
}


.delete-review:hover{
    background-color: rgba(0, 0, 0, .6);
    cursor:pointer;
}
