.splash1{
    display:flex;
    flex-direction:column;
    background-image: image-url('homelogo.jpeg');
    background-size:100%;
    background-repeat: cover;
    width:100%;
    height:500px;
    text-align:center;
  
}

.splash2{
    display:flex;
    flex-direction:row;
    background-color:gray;
    height:300px;
    width:100%;
    text-align:center;
}

.center-btn{
    color:white;
    font-size: 25px;
    display:flex;
    position:relative;
    justify-content: center;
    margin-top: 250px;
    text-decoration: none;
    border-radius: 10px;
}

.center-btn:hover{
    color: rgba(0, 3, 0, 1);
}

.explore-link:hover{
    color: rgba(0, 3, 0, 1);
}

.splash-header:hover{
    color:rgba(0, 3, 0, 1);
}



.splash-header{
    color: white;
    text-decoration: none;
    font-size:30px;
    background-image:image-url('home1.jpeg');
    background-size:100%;
  
    width: 50%;
    position:relative;
}

.explore-link{
    color: white;
    text-decoration: none;
    font-size:30px;
    background-image:image-url('nyc3.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%,
    // position:relative; 
}

.footer{
    display:flex;
    // font-family: 'Cambria';
    background-color:rgba(8, 0, 16, 0.15);
    margin-top: 15px;
    // max-height: 200px;
    height: 300px;
    align-items: center;
    border-radius: 20px;
}

.list-1{
    width: 33%;
    text-align:center;
    font-family: 'Bakersville';
}

.list-2{
    width: 33%;
    text-align:center;
}

.list-3{
    width: 33%;
    text-align:center;
}

.logo-left{
    img{
        height: 100px;
        margin-left:40px;
    }
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0 -10px 6px -6px #e6e6e6;
    -moz-box-shadow: 0 10px 6px -6px #e6e6e6;
         box-shadow: 0 10px 6px -6px #e6e6e6;
}

.nav-right{
    display: flex;
    flex-direction: row;
   
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconify{
    font-size: 34px;
    color:rgba(255, 28, 165, 1);
}

.footer-li{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
