.splash1{
    display:flex;
    flex-direction:column;
    background-image: image-url('homelogo.jpeg');
    background-size:100%;
    background-repeat: cover;
    height:500px;
    text-align:center;
}

.splash2{
    display:flex;
    flex-direction:row;
    background-color:orange;
    height:300px;
    text-align:center;
}

.center-btn{
    color:white;
    font-size: 25px;
    display:flex;
    position:relative;
    justify-content: center;
    margin-top: 250px;
    text-decoration: none;
    border-radius: 10px;
}


.splash-header{
    color: white;
    text-decoration: none;
    font-size:30px;
    background-image:image-url('home1.jpeg');
    background-size:100%;
  
    width: 50%;
    position:relative;
}

.explore-link{
    color: white;
    text-decoration: none;
    font-size:30px;
    background-image:image-url('nyc3.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%,
    // position:relative; 
}

.footer{
    display:flex;
    background-color:rgba(9, 0, 16, 0.21);
    margin-top: 15px;
    max-height: 200px;
    align-items: center;
}

.footer-li{
    width: 33%;
    text-align:center;
}

.logo-left{
    img{
        height: 100px;
        margin-left:40px;
    }
}