

.splash-header{
    color: rgba(255,12,162,.8);
    text-decoration: none;
    font-size:30px;

}

.explore-link{
    color: rgba(255, 23, 153, 0.8);
    text-decoration: none;
    font-size:30px

}

.splash-img1{
    background-image: url('home1.jpeg');
}