#map-container{
    width:640px;
    height: 1000px;
    background-color: green;
}

.index-map{
    margin-left: 55%;
    margin-top: 325px;
}

.show-map{
    margin-left: 10%;
    margin-top: 50px;
}

.stay-map{
    width:1250px;
    height: 600px;
}