.stay-index-container{
    display:flex;
    margin-top: 70px;
}

.show-heading{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-left: 10%;
    font-weight: bold;
}

.show-images{
    margin-top: 40px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
.stay-show-img{
    // margin-top:5px;
    // margin-left:350px;
    width:550px;
    // box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 13px 0px 0px 13px;
}

.small-images{
    margin-left: 7px;
    display: flex;
    flex-direction: row;
    width:550px;
    // background-color: yellow;
}

.left-images{
    display: flex;
    flex-direction: column;
    width:275px;
}

.right-images{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    width:275px;
}

// .top-left{
//     background-color: yellow;
//     height:48%;
// }

// .top-right{
//     background-color: yellow;
//     height:48%;
//     border-top-right-radius: 13px;
// }

// .bott-left{
//     background-color: green;
//     height:48%;
//     margin-top: 7px;
// }

// .bott-right{
//     background-color: green;
//     height:48%;
//     border-bottom-right-radius: 13px;
//     margin-top: 7px;
// }

.img-1{
    // height:48%;
    width:275px;
}

.img-2{
    width:275px;
    height: 96%;
}

.img-3{
    border-top-right-radius: 13px;
    width:275px;
    
}

.img-4{
    border-bottom-right-radius: 13px;
    width:275px;
    height: 96%;
}

.show-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    // margin-left: 10%;
}

.stay-details{
    -webkit-box-shadow: 0 -10px 6px -6px #e6e6e6;
    -moz-box-shadow: 0 10px 6px -6px #e6e6e6;
         box-shadow: 0 10px 6px -6px #e6e6e6;
    // padding: 15px;
}

.reservation-form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px #C0C0C0;
    border-radius: 10px;
    // margin-right:1%;
    padding:40px;
  
}

.review-wrapper{
    margin-left: 10%;
}

.reservation-input{
    display: flex;
    flex-direction: row;
}


.reservation-price{
    font-size: 19px;
    font-weight: bold;
}



.reservation-start-date{
    
    height:25px;

}

.reservation-end-date{
    
    height:25px;
}

.reserve-btn{
    margin-top: 25px;
    color:white;
    background-color: rgba(236, 29, 126, 1);
    padding: 10px;
    border:none;
    border-radius: 5px;
    width: 150px;
   
}

.reserve-btn:hover{
    background-color:rgba(235, 26, 127, 0.67);
    cursor: pointer;
}

.stay-index-item{
    // margin-top: 90px;
    // margin-top: 5px;
    // border-top:1mm solid rgba(4, 13, 1, 0.57);
    // margin-top: 50px;
    // font-size: 18px;
    // color: rgba(0,0,0,.6);
    // margin-left:375px;

    font-family: 'Raleway', sans-serif;
    // font-size:18px;
    // font-weight: 550;
   
}



