#map-container{
    width:640px;
    height: 1000px;
    background-color: green;
}

.index-map{
    margin-left: 60%;
    margin-top: 325px;
}

.show-map{
    margin-left:35%;
    margin-top: 50px;
}