.index-container{
    display:flex;

}

.index-header{
    font-size: 25px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    position:absolute;
    margin-top: 100px;
    color: rgba(0,0,0,.5);
}

.index-ul{
    position:absolute;
    margin-top: 400px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-left: 10px;
}

.index-item{
    width: 600px;
    height: 100px;
    box-sizing: border-box;
    font-size: 25px;
    margin-top: 78px;
    border-top: thick double rgba(0,0,0,.5);
}